.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin: 0px auto;
  padding: 0px;
  width: 80%;
}

.logo {
  font-size: 75px;
  color: var(--myGreen);
}

.navBar-links {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  width: auto;
  text-align: center;
  height: auto;
}

.link {
  height: auto;
}

/* .link:hover {
  border-bottom: 1px solid salmon;
} */

.navLinkTemplate-links {
  color: var(--myGreen);
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45px;
  height: 45px;
  font-size: larger;
  font-weight: bolder;
  background: var(--myGreen);
  border-radius: 50px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .navBar-links {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: auto;
    text-align: center;
    height: 100px;
  }

  .navLinkTemplate-links {
    display: flex;
    justify-content: center;
    margin: 0px;
  }

  .logo {
    font-size: 55px;
    color: var(--myGreen);
  }
}

@media only screen and (max-width: 320px) {
  .navBar {
    display: block;
    text-align: center;
    height: auto;
    margin: 25px auto;
  }

  .profile {
    margin: auto;
  }
}