html,
body {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(34, 193, 195);
  background: linear-gradient(
      0deg,
      rgb(147, 207, 208) 0%,
      rgb(242, 211, 145) 100%
    )
    fixed;
  z-index: -10000;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

:root {
  --myGreen: #00c479;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--myGreen);
  border: 1px solid grey;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgba(48, 141, 57, 0.693);
}

::-webkit-scrollbar-button {
  height: 130px;
}
