.projects {
  display: flex;
  flex-direction: column;
}

.area-projectDetails {
  display: block;
  margin: 5px auto;
  min-width: 300px;
  max-width: 300px;
  height: 35px;
  min-height: 25px;
  border: 1px solid var(--myGreen);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
}

.area-user-list {
  display: block;
  margin: 5px auto;
  min-width: 300px;
  max-width: 300px;
  height: 35px;
  min-height: 25px;
  border: 1px solid var(--myGreen);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
  cursor: not-allowed;
}

.user-list {
  cursor: not-allowed;
}

.logoAddUser {
  min-width: 50px;
  text-align: center;
  margin-left: 85%;
  color: var(--myGreen);
  font-size: 30px;
  z-index: 5;
  cursor: pointer;
}

.wrapper-form {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 700px;
  margin: auto;
  height: auto;
}

.form-content {
  width: auto;
  margin: 0px;
}

.userListStyle-ul {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 75%;
  top: 43%;
  padding: 5px;
  width: auto;
  height: auto;
  background-color: #7fce8a34;
  border-radius: 15px;
}

.input-listUsers {
  display: flex;
  align-self: center;
  height: 25px;
  width: 30px;
  margin: 0px;
  cursor: pointer;
}

li {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2px 0px;
  width: auto;
  min-height: 30px;
  text-align: left;
  list-style: none;
  cursor: pointer;
  padding: 5px 5px;
}

.card-project {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  width: 80%;
  border: solid 1px rgba(0, 0, 0, 0.076);
  border-radius: 10px;
}

.wrapper-titleProject-btnProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-card-project {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  height: auto;
  padding: 15px 5px;
}

.card-project:hover {
  background-color: rgba(197, 242, 216, 0.275);
}

.wrapper-info-card-project-projectName {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50px;
  /*   background-color: azure; */
}

.info-card-project-projectName {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  width: auto;
  height: 50px;
}

.wrapper-btn-colaps {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.wrapper-card-project-owner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  /*   background-color: #1ba12d; */
}

.card-project-owner {
  display: flex;
  align-items: center;
}

.card-project-owner-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-project-owner-name {
  padding: 0px 0px 0px 5px;
}

.projectDetails,
.projectTeam {
  display: block;
  margin: auto;
  width: 80%;
  height: 100px;
  border: 1px solid var(--myGreen);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  outline: none;
  overflow: auto;
  overflow-wrap: anywhere;
}

.wrapper-info-card-project-projectTeam-projectTime-projectDetails {
  flex-direction: column;
  height: 400px;
  overflow: hidden;
  transition: all 1s;
}

.wrapper-info-card-project-projectTeam-projectTime-projectDetails.active {
  display: flex;
  flex-direction: column;
  height: 0px;
  transition: height 500ms;
}

.info-card-project-projectTeam,
.info-card-project-projectTime,
.info-card-project-projectDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.label-info-card-project-projectTeam,
.label-info-card-project-projectTime,
.label-info-card-project-projectDetails {
  margin: 0px;
  color: var(--myGreen);
  width: auto;
  padding-right: 20px;
}

.wrapper-label-info-card-project-projectTeam,
.wrapper-label-info-card-project-projectTime,
.wrapper-label-info-card-project-projectDetails {
  text-align: left;
}

.projectTime {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.container-timeLeft {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.wrapper-timeline {
  display: flex;
  width: 20%;
  height: 11px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #1ba12d21;
}

.timeline {
  display: flex;
  height: 8px;
  border-radius: 15px;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

.remainingTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 14px;
  padding: 0px 5px;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgb(0, 0, 0);
}

.days-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 0px;
  font-size: 10px;
  margin: 0px;
  padding: 0px;
  align-items: center;
  height: 10px;
}

.time-expired {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 70px;
  right: 0px;
  margin: 0;
}

.info-card-project-logo {
  margin-right: 5px;
  color: var(--myGreen);
}

.btn-card-project {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  padding: 15px 5px;
}

.btn-card-project-del,
.btn-card-project-edit,
.btn-card-project-done {
  width: auto;
  height: 35px;
  margin: 5px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--myGreen);
  background-color: transparent;
  outline: none;
}

.btn-card-project-del:hover,
.btn-card-project-arhiva:hover,
.btn-card-project-edit:hover,
.btn-card-project-done:hover {
  border: 1px solid var(--myGreen);
}

.btn-card-project-del:hover {
  border: 1px solid var(--myGreen);
  color: red;
}

.fa-trash :hover {
  color: red;
}

/* .buttons {
  margin-right: 25px;
} */

.btn-colaps {
  display: flex;
  align-self: flex-end;
  width: auto;
  height: auto;
  margin: a;
  padding: 0px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  color: var(--myGreen);
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-colaps:hover {
  color: coral;
}

.btn-submit-newProject {
  display: block;
  width: 150px;
  padding: 5px;
  margin: 30px auto 55px;
  font-size: 20px;
  text-align: center;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: var(--myGreen);
}

/*FinishedProjects*/
.wrapper-finished-projects {
  width: 100%;
  height: 100%;
}

.finished-projects {
  display: flex;
  width: 100%;
}

.container-finishedProjects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 750px) {
  /*New Project*/

  .wrapper-form {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 350px;
    margin: auto;
    height: auto;
  }

  .userListStyle-ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 75%;
    top: 52%;
    padding: 5px;
    width: auto;
    height: auto;
    background-color: #7fce8a34;
    border-radius: 15px;
  }
  /*....................................*/

  .wrapper-titleProject-btnProject {
    display: flex;
    flex-direction: column;
  }

  .card-project {
    display: flex;
    text-align: center;
    border: solid 1px rgba(0, 0, 0, 0.076);
    border-radius: 10px;
  }

  .info-card-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
  }

  .wrapper-info-card-project-projectName {
    display: flex;
    width: auto;
    justify-content: left;
    height: 50px;
    flex-direction: row;
    align-items: center;
  }

  .info-card-project-projectTeam,
  .info-card-project-projectTime,
  .info-card-project-projectDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px;
    padding: 5px;
  }

  .projectTeam {
    margin: auto;
  }

  .info-card-project-logo {
    margin: 0px 10px 0px 0px;
  }

  .buttons {
    margin: auto;
  }

  .wrapper-btn-colaps {
    margin: auto;
  }

  .btn-colaps {
    margin: auto;
    width: 25px;
    height: 15px;
    border-radius: 5px;
    text-align: center;
    background-color: transparent;
    color: green;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .container-timeLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .projecTime {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
  }
}

@media only screen and (max-width: 350px) {
  .info-card-project-projectDetails,
  .info-card-project-projectTeam,
  .info-card-project-projectTime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
  }

  .label-info-card-project-projectDetails,
  .label-info-card-project-projectTeam,
  .label-info-card-project-projectTime {
    padding: 0;
  }

  .btn-card-project {
    flex-direction: column-reverse;
  }

  .btn-colaps {
    width: auto;
    height: auto;
    margin: auto;
  }
  .projecTime.flex350 {
    display: none;
  }

  .container-timeLeft {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
  }

  .projecTime {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 150px;
  }

  .card-project-owner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
